body {
   
    background-color: teal;
    font-family: sans-serif;
    justify-content: center;
    align-items:center;
  }

h1 {
    text-align:center;
    color: navy;
    margin-left: 20px;
    font-style: normal;

  }
  h3 {
    text-align:center;
    color: navy;
    margin-left: 20px;
    font-style: normal;

  }

  button{
    position: relative;
   left:600px;
    align-items: center;
    background-color: white;
    border: ridge;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    size: 0vmax;
  }
  
 

.game-grid {
    display: flex;
    justify-content: center;
    flex-flow: center;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
  
}

.cell {
position:center;
  background:blue;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius:10px;
  font-size: 900%;
}
.cell:hover{
    background-color: grey;

}